@font-face {
    font-family: myFont;
    src: url("/fonts/LuckiestGuy-Regular.ttf");
}
@font-face {
    font-family: myFont2;
    src: url("/fonts/InstrumentSans-VariableFont_wdth,wght.ttf");
}
@font-face {
    font-family: myFont3;
    src: url("/fonts/PantonRustHeavy-GrSh.ttf");
}
@font-face {
    font-family: myFont4;
    src: url("/fonts/DIMIS___.TTF");
}

.card {
    position: relative;
    padding: 30px;
    text-align: center;
    max-width: 350px;
    font-size: 30px;
    font-family: myFont3;
    -webkit-text-fill-color: #f0bd1b;
    /* color: #f0bd1b; */
    overflow: hidden;
    background:black;
    z-index: 1;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card::before{
    content:'';
    position: absolute;
    top: 50%;
    left: 50%;
    height:200px;
    width:150px;
    z-index: -2;
    background: linear-gradient(
    transparent,
    #f2f2e6,
    #f2f2e6,
    #f2f2e6,
    transparent
  );
  animation: animate 2.5s linear infinite;
  transform-origin: 0 0;
} 
  
.card::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: #2b2b2b; 
    z-index: -1; 
    border-radius: 10px; 
}


.card:hover {
    transform: scale(1.1); /* Slightly increase the card size */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); /* Add a subtle shadow for the pop-out effect */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

img {
    height: 150px;
    margin: 20px auto;
}



/* responsive */
@media (max-width:800px) {
    .card {
        max-width: 400px;
        font-size: 35px;
    }

    img {
        height: 110px;
    }
}

@media (max-width:500px) {
    .card {
        max-width: 300px;
        font-size: 30px;
    }
    img {
        height: 95px;
    }
}