.Gallery{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #37353a;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23090909' fill-opacity='0.14' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
}


.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 5vw;
    text-align: center;
    color: #5F8053;
   
}

/* @media (max-width:1000vw) {
    .container h1 {
        font-size: 20vw;
    }

} */

.image-gallery {
    column-count: 4;
    column-gap: 0;
    /* padding-top: 5vh; */

}

.image-gallery div {
    flex-grow: 1;
    margin: 0.5vw;
    overflow: hidden;
    cursor: pointer;
}

/* .image-item{
    
} */
.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    border-radius: 15px;
    max-width: 40vw;
    max-height: 70vh;
}

.image-item:nth-child(3n) {
    grid-column: span 2;
    grid-row: span 2;
}

.image-item:nth-child(5n) {
    grid-column: span 2;
}

.image-item:nth-child(7n) {
    grid-row: span 2;
}


img:hover {
    transform: scale(1.05);
}



body {
    overflow: auto; /* Enable scrolling within the body */
  }
  
  body::-webkit-scrollbar {
    width: 0.1vw;
  }
  
  body::-webkit-scrollbar-track {
    background: #0000; /* Background color of the scrollbar track */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #29282808;
    border-radius: 10px; /* Rounded edges */
    border: 1px solid #0c0c0c04; /* Space around scrollbar thumb */
  }

  