@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

body {
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 0.1vw;
}

body::-webkit-scrollbar-track {
  background: #0000;
}

body::-webkit-scrollbar-thumb {
  background-color: #29282808;
  border-radius: 10px;
  border: 1px solid #0c0c0c04;
}

.container {
  width: 100%;
  min-height: 100vh;
}

.container h1 {
  font-size: 5rem;
  text-align: center;
  margin-top: 40px;
  color: #5F8053;
  padding-bottom: 40px;
}

@media (max-width: 576px) {
  .container h1 {
    font-size: 2rem;
  }
}


.image-gallery.normal-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 10px;
    padding: 20px;
  }
  
  .image-gallery.wide-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 10px;
    padding: 20px;
  }
  
  .image-gallery.tall-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 10px;
    padding: 20px;
  }

.image-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 30px;
}

.image-item img {
  width: 100%;
  height: auto;
  border-radius: 40px;
  object-fit: cover;
  transition: all 0.3s ease-in;
}

img:hover {
  transform: scale(1.05);
}



/* 

  .img-js {
    display: flex;
    margin-left: -15px; 
    width: auto;
  }
  
  .img-js_column {
    padding-left: 15px; 
    background-clip: padding-box;
  }
  
  .grid-item {
    margin-bottom: 15px;
  }
 
  .image-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .image-container img {
    width: 100%;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .image-container:hover img {
    transform: scale(1.05);
  }
  
 
  
 
  @media (max-width: 600px) {
    .masonry-wrapper {
      padding: 15px; 
    }
  
    .my-masonry-grid {
      margin-left: -10px;
    }
  
    .my-masonry-grid_column {
      padding-left: 10px;
    }
  
    .grid-item {
      margin-bottom: 10px;
    }
  
    .download-icon {
      bottom: 5px; 
      right: 5px;  
      font-size: 16px;
      padding: 5px;    
    }
  }
  @media (max-width: 900px) {
    .masonry-wrapper {
      padding: 20px;
    }
  
    .my-masonry-grid {
      margin-left: -15px;
    }
  
    .my-masonry-grid_column {
      padding-left: 15px;
    }
  
    .grid-item {
      margin-bottom: 12px;
    }
   */