@use './mixins' as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
$bg-color: rgb(100, 158, 203);



:root {
  --main-color: #3664e8;
}

body {
  font-family: "serif", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.forbg {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust height as needed */
}

.forbg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(54, 100, 232, 0.1), rgba(184, 153, 13, 1)),
                url('/images/eventsback.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.3;
}


  


.main-container {
    // background-image: url('images/eventsback.jpg');
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;

  .unordered {
    scroll-behavior: smooth;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-left: 10vw;
    box-sizing: border-box;
    overflow-y: auto;
  -webkit-overflow-scrolling: touch;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    overflow: auto;
  }
  
}
.loading-indicator {
  text-align: center;
  padding: 20px;
}