@use './mixins' as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
$bg-color: rgb(100, 158, 203);



:root {
  --main-color: #3664e8;
}

body {
  font-family: "serif", sans-serif;
  background-color: $bg-color;
}

::-webkit-scrollbar {
  display: none;
}

.main-container {
  .unordered {
    scroll-behavior: smooth;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-left: 10vw;
    box-sizing: border-box;
    overflow-y: auto;
  -webkit-overflow-scrolling: touch;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    overflow: auto;
  }
  
}
.loading-indicator {
  text-align: center;
  padding: 20px;
}